.post {
    padding: 40px;
}

.add_posts {
    margin-bottom: 70px;
}

.textarea {
    width: calc(100% - 40px);
    min-height: 70px;
    resize: none;
    padding: 15px;
    margin: auto;
    font-size: 20px;
    
}

button {
    text-align: end;
}